@using AppSample.Admin.Models
@model AppSample.Admin.Models.ServiceProviders.ServiceProviderViewModel

@{
    ViewBag.Title = "Подтверждение действий";
}

<div>
    <h2>Подтверждение удаления сервис-провайдера</h2>

    <p>Вы собираетесь удалить сервис-провайдера @Model.Name
    <p>
        @using (Html.BeginForm("Action", "ServiceProviders", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.Hidden("type", ActionKey.Delete)

            <button class="btn btn-primary btn-sm">Удалить</button>
            <a href="@Url.Action("Index")" class="btn btn-primary btn-sm">Назад</a>
        }
    </p>
</div>


